<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">Welcome to the home page of the Australian Summer School on Privacy. This workshop will be held during <b>10-14 November 2025</b> at the <b>University of New South Wales, Sydney, Australia</b>.</p>

<p>The primary objective of the summer school is to promote research on Privacy Enhancing Technologies and associated research in Australia. It is a forum to bring together students, researchers, and practitioners in the broad area of privacy to learn, discuss, and collaborate on relevant questions and recent advances around privacy technologies.</p>

<p>
    The scope of the summer school includes, but is not limited to:
    <ul class="marked">
        <li>Cryptographic Tools for Privacy</li>
        <li>Differential Privacy and Private Data Analytics</li>
        <li>Machine Learning and Privacy</li>
        <li>Privacy in the Age of AI</li>
        <li>Inclusive Privacy</li>
        <li>Management of Digital Identity and Credentials</li>
    </ul>
</p>

<p>
    The program will consist of two parts: <b>keynote/invited talks</b> in the mornings, and <b>group discussions</b> in the afternoons. For the group discussions, we plan to have several small groups, and for each group, we aim to gather researchers who are all interested in one specific topic. The goal of the group discussion is to advance collaborations within the research community and to find new results through discussions.
</p>

<p>
    The workshop is open to PhD students, MPhil students, Post Docs, ECRs, academics and industry professionals.
    There are no registration fees.
    However, interested participants should express their interest by <b>31 October 2025</b> using this link:
    <a href="{{ .links.registration.url }}">{{ .links.registration.text }}</a>.
    The selected list of participants will be notified at the beginning of November.
</p>

<p>
    A limited number of students and early career researcher will be given stipend to attend the school. If you want to apply for a stipend, please refer to the <a href="#stipends">Stipends</a> section.
</p>

<p>
    Other participants will have to arrange their travel and stay on their own.
The workshop will provide free morning tea, lunch and afternoon tea.
</p>