<h2 class="section-title">{{ .titles.stipends }}</h2>

<p>
    The stipend program is open to PhD students, MPhil students, and early career researchers.
    At this time, stipends can only be offered to <i>participants from Australian institutions</i>, i.e., only travel within Australia can be supported.
    Eligible participants can apply via the following form: <a href="{{ .links.application.url }}">{{ .links.application.text }}</a>.
</p>
<p>
    Moreover, the recommendation from a supervisor or an academic mentor is required.
    The referring supervisor/mentor can upload their referral using the following link: <a href="{{ .links.recommender.url }}">{{ .links.recommender.text }}</a>.
</p>

<p>
    <b>IMPORTANT: Students are responsible for ensuring that their supervisors/mentors submit their referral form by the deadline.
    Application without a referral will not be considered!</b>
</p>

<h3>Deadlines</h3>
<p>
    All deadlines are 23:59:59 AoE (UTC-12).
    <ul class="marked">
        <li><b>Applications:</b> 30 September, 2025</li>
        <li><b>Notification:</b> 15 October, 2025</li>
    </ul>
</p>